<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <style>
    nav a { margin-right: 10px; }
  </style>
</head>
<body>
  <nav>
    <a href="/home">Домашняя страница</a>
    <a href="/about">Регистрация</a>
    <a href="/contact">Доп. пространство</a>
    <a href="/data">Учасники</a>
    <a href="/calendar">Календарь</a>
  </nav>
  <h1>Домашняя страница</h1>
  <p>Это домашняя страница</p>
</body>
</html>
